[Unit]
Description=Kaoz IRC notifier bot
After=network.target

[Service]
ExecStart=/usr/bin/kaoz
ExecReload=/bin/kill -USR1 $MAINPID
#User=

[Install]
WantedBy=multi-user.target

